{# src/Ornito/UserBundle/Ressource/views/Profile/show.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  - {{ "Profile"|trans }}
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->
{% set userRole = "member" %}

  {% for role in user.roles %}
    {% if role == 'ROLE_NATURALIST' or role == 'ROLE_SUPER_ADMIN'%}
      {% set userRole = "naturalist" %}
    {% endif %}
  {% endfor %}

  {% trans_default_domain 'FOSUserBundle' %}
  <!-- PAGE TITLE -->
  <h1 class="band_title deepshd">
    <span class="profil_img">
      {% if user.avatar == null %}
        <i class="fa fa-user fa-4x shadowed" aria-hidden="true"></i>
      {% else %}
      <img title="{{ user.username }}" class="profil-picture-big shadowed-1" src="{{ asset(user.avatar.webPath) }}" alt="User Picture {{ user.username }}">
      {% endif %}
    </span>
    {{ user.username }}
    <div class="float-right">
      <span class=" shadowed-1 margin-left-10 badge badge-success dropdown-name">
        {% for role in user.roles %}
          {% if role == "ROLE_MEMBER" %}
            {{ 'Membre'|trans }}
          {% endif %}
          {% if role == "ROLE_NATURALIST" %}
            {{ 'Naturaliste'|trans }}
          {% endif %}
          {% if role == "ROLE_SUPER_ADMIN" %}
            {{ 'Admin'|trans }}
          {% endif %}
        {% endfor %}
      </span>
      <i class="fa fa-user"></i>
    </div>
  </h1>
  <!-- END PAGE OPTION MENU -->
  <!-- CONTENT CONTAINER -->
  <hr>
  <div class="col-xs-12 col-md-12 col-lg-12 container">
    <div class="row">
      <div class="col-md-12 ">
        <!-- CONTENT -->
        <div class="container">
          <!-- ARTICLE -->
          <article class="">
            <div id="profileTabMenu">
              <!-- TAB MENU -->
              <div class="text-uppercase card-title">
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                  <li role="presentation" class="nav-item active">
                    <a href="#profilePanel" aria-controls="profilePanel" role="tab" data-toggle="tab" class="font-size-14 nav-link">{{ "Profil"|trans }}</a>
                  </li>
                  <li role="presentation" class="nav-item">
                    <a href="#obsProfilePanel" aria-controls="obsProfilePanel" role="tab" data-toggle="tab" class="nav-link">
                      {% if user.id == app.user.id %}
                        {{ "Mes Obs"|trans }}
                      {% else %}
                        Obs'
                      {% endif %}
                    </a>
                  </li>
                  {% if userRole == 'naturalist'  or user.id == app.user.id %}
                  <li role="presentation" class="nav-item">
                    <a href="#naturalistProfilePanel" aria-controls="naturalistProfilePanel" role="tab" data-toggle="tab" class="nav-link">{{ "Naturaliste"|trans }}</a>
                  </li>
                  {% endif %}
                  {% if user.id == app.user.id %}
                    <li role="presentation" class="nav-item">
                      <a href="{{ (path('fos_user_profile_edit')) }}" class="nav-link">{{ "Admin"|trans }}</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% for key, messages in app.session.flashbag.all() %}
              {% for message in messages %}
                <div class="alert alert-{{ key }}">
                  {{ message|trans({}, 'FOSUserBundle') }}
                </div>
              {% endfor %}
            {% endfor %}
            <!-- END TAB MENU -->
            <div class="container">
              <div class="row">
                <!-- BOX CONTAINER -->
                <div class="card">
                  <!-- TAB PANELS CONTENT -->
                  <div class="tab-content">
                    <!-- Tab panes 1 PROFIL -->
                    <div role="tabpanel" class="col-md-12 tab-pane active" id="profilePanel">
                      <section>
                        <div class="float-left">
                          <span>
                            {% if user.avatar == null %}
                              <i class="fa fa-user fa-4x shadowed" aria-hidden="true"></i>
                            {% else %}
                              <img title="{{ user.username }}" class="profil-picture-big shadowed-1" src="{{ asset(user.avatar.webPath) }}" alt="{{ user.avatar.alt }}">
                            {% endif %}
                          </span>
                          <span class="margin-left-10  badge badge-success dropdown-name">{{ user.username }}</span>
                          <hr>
                          <div>
                            <h2 class="lead">{{ user.firstName }}
                              {{ user.lastName }}</h2>
                            <span class="badge badge-light ">{{ "Inscrit le"|trans }}
                              {{ user.registerAt|localizeddate('long', 'none') }}</span>
                          </div>
                          <hr/>
                        </div>

                        <div class="col-md-12">
                          <div class="float-left">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-envelope-square fa-3x social social-em"></span>{{ user.email }}
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-facebook-square fa-3x social social-fb"></span>{{ user.facebook }}
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-google-plus-square fa-3x social social-gp"></span>{{ user.googleplus }}
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="float-left">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-twitter-square fa-3x social social-tw"></span>{{ user.twitter }}
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-pinterest-square fa-3x social social-gp"></span>{{ user.pinterest }}
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a class="social" href="">
                                  <span class="fa fa-linkedin-square fa-3x social social-fb"></span>{{ user.linkedin }}
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="float-left col-md-10 offset-1">
                          <p>{{ user.bio }}
                          </p>
                        </div>
                      </section>
                    </div>
                    <!-- Tab panes 2 MEMBRE -->
                    <div role="tabpanel" class="tab-pane" id="obsProfilePanel">
                      <section class="content">
                        <div class="col-md-12">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              {% if user.id == app.user.id %}
                              <div class="pull-left">
                                <a title="{{ 'Ajouter une Observation'|trans }}" href="{{ path('ornito_observation_add')}}" class="badge badge-info"><button class="btn btn-dark btn-sm">{{ 'Ajouter une Observation'|trans }}</button></a>
                              </div>
                              {% endif %}
                              <div class="pull-right">
                                {% if userRole == 'member' %}
                                <div class="btn-group">
                                  <button type="button" class="btn btn-success btn-filter" data-target="attested">{{ "Validé"|trans }}</button>
                                  <button type="button" class="btn btn-warning btn-filter" data-target="untreated">{{ "En attente"|trans }}</button>
                                  <button type="button" class="btn btn-danger btn-filter" data-target="rejected">{{ "Invalide"|trans }}</button>
                                  <button type="button" class="btn btn-default btn-filter" data-target="all">{{ "Tous"|trans }}</button>
                                </div>
                                {% else %}
                                {% if user.id == app.user.id %}
                                <h6>{{ 'Mes Observations'|trans }}</h6>
                                {% else %}
                                <h6>{{ 'Ses Observations'|trans }}</h6>
                                {% endif %}
                                {% endif %}
                              </div>
                              <div class="table-container">
                                <table class="table table-filter">
                                  <tbody>
                                    {% for watching in user.watchings %}
                                      <tr data-status="{{ watching.validateStatus }}">
                                        <td>
                                          <a title="{{ "Voir l'Obs"|trans }}" href="{{ path('ornito_observation_view', {'id' : watching.id } ) }}">
                                            <i class="fa fa-eye"></i>
                                          </a>
                                          {% if watching.validateStatus == 'attested' %}
                                          {% if ( user.id == app.user.id  and is_granted("ROLE_NATURALIST"))  or is_granted("ROLE_SUPER_ADMIN")  %}
                                            <a title="{{ "Modifier"|trans }}" href="{{ path('ornito_observation_edit', {'id' : watching.id } ) }}">
                                              <i class="fa fa-edit"></i>
                                            </a>
                                            <a title="{{ "Supprimer"|trans }}" class="delete" data-confirm="{{ 'Voulez-vous vraiment supprimer cette observation?'|trans }}" href="{{ path('ornito_observation_delete', {'id' : watching.id } ) }}">
                                              <i class="fa fa-trash"></i>
                                            </a>
                                          {% endif %}
                                          {% endif %}
                                          {% if watching.validateStatus != 'attested' %}
                                          {% if ( user.id == app.user.id )  or is_granted("ROLE_SUPER_ADMIN")  %}
                                            <a title="{{ "Modifier"|trans }}" href="{{ path('ornito_observation_edit', {'id' : watching.id } ) }}">
                                              <i class="fa fa-edit"></i>
                                            </a>
                                            <a title="{{ "Supprimer"|trans }}" class="delete" data-confirm="{{ 'Voulez-vous vraiment supprimer cette observation?'|trans }}" href="{{ path('ornito_observation_delete', {'id' : watching.id } ) }}">
                                              <i class="fa fa-trash"></i>
                                            </a>
                                          {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          <div class="media">
                                            <a href="#" class="pull-left">
                                              <span>
                                                {% if watching.image == null %}
                                                  <i class="fa fa-camera-retro fa-4x shadowed" aria-hidden="true"></i>
                                                {% else %}
                                                <a title="{{ "Agrandir l'image"|trans }}" href="{{ asset(watching.image.webPath) }}" data-toggle="lightbox">
                                                  <img class="img-thumbnail img-max-size-2" src="{{ asset(watching.image.webPath) }}" alt="{{ watching.image.alt }}">
                                                </a>
                                                {% endif %}
                                              </span>
                                            </a>
                                            <div class="media-body">
                                              <span class="media-meta pull-right">{{ watching.date|localizeddate('medium', 'short') }}</span>
                                                <a href="{{ path('ornito_inventory_find', { id: watching.species.id}) }}">
                                                  <h4 class="title">
                                                    {% if watching.species.vernFr == true %}
                                                      {{ watching.species.vernFr }}
                                                    {% else %}
                                                        {{ watching.species.scientificName }}
                                                    {% endif %}
                                                    <span class="pull-right">(
                                                      {% if watching.species.protectedStatus == true %}
                                                        {% if watching.species.protectedStatus starts with 'P' %}
                                                          {{ "Protégé"|trans }}
                                                        {% else %}
                                                          {{ "En danger"|trans }}
                                                        {% endif %}
                                                      {% else %}
                                                          {{ "Non menacée"|trans }}
                                                      {% endif %})
                                                    </span>
                                                  </h4>
                                                </a>
                                                <a title="{{ "Voir l'Obs"|trans }}" href="{{ path('ornito_observation_view', {'id' : watching.id } ) }}">
                                                  <p class="summary">{{ watching.title }}</p>
                                                </a>
                                              <span class="pull-right badge badge-light">({{ watching.validateStatus }})</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="content-footer">
                            <p class="text-muted">
                              {% if user.id == app.user.id %}
                                My Obs'
                              {% else %}
                                Obs'
                              {% endif %}
                            </p>
                          </div>
                        </div>
                      </section>
                    </div>

                    <!-- Tab panes 3 NAURALISTE -->
                    <div role="tabpanel" class="tab-pane" id="naturalistProfilePanel">
                      <section class="content">
                        <div class="col-md-12">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              {% if userRole == 'naturalist' %}
                              <div class="pull-right">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-success btn-filter" data-target="attested">
                                    {% if user.id == app.user.id %}
                                      {{ "J'ai validé"|trans }}
                                    {% else %}
                                      {{ "Il a validé"|trans }}
                                    {% endif %}
                                  </button>
                                  <button type="button" class="btn btn-danger btn-filter" data-target="rejected">
                                    {% if user.id == app.user.id %}
                                      {{ "J'ai refusé"|trans }}
                                    {% else %}
                                      {{ "Il a refusé"|trans }}
                                    {% endif %}
                                  </button>
                                  <button type="button" class="btn btn-default btn-filter" data-target="all">{{ "Tous"|trans }}</button>
                                </div>
                              </div>
                              <div class="table-container">
                                <table class="table table-filter">
                                  <tbody>
                                    {% if naturalistObsList is defined %}
                                    {% for watching in naturalistObsList %}
                                      <tr data-status="{{ watching.validateStatus }}">
                                        <td>
                                          <a title="{{ "Voir l'Obs"|trans }}" href="{{ path('ornito_observation_view', {'id' : watching.id } ) }}">
                                            <i class="fa fa-eye"></i>
                                          </a>
                                          {% if watching.validateStatus == 'attested' %}
                                          {% if ( user.id == app.user.id  and is_granted("ROLE_NATURALIST"))  or is_granted("ROLE_SUPER_ADMIN")  %}
                                            <a title="{{ "Modifier"|trans }}" href="{{ path('ornito_observation_edit', {'id' : watching.id } ) }}">
                                              <i class="fa fa-edit"></i>
                                            </a>
                                            <a title="{{ "Supprimer"|trans }}" class="delete" data-confirm="{{ 'Voulez-vous vraiment supprimer cette observation?'|trans }}" href="{{ path('ornito_observation_delete', {'id' : watching.id } ) }}">
                                              <i class="fa fa-trash"></i>
                                            </a>
                                          {% endif %}
                                          {% endif %}
                                          {% if watching.validateStatus != 'attested' %}
                                          {% if ( user.id == app.user.id )  or is_granted("ROLE_SUPER_ADMIN")  %}
                                            <a title="{{ "Modifier"|trans }}" href="{{ path('ornito_observation_edit', {'id' : watching.id } ) }}">
                                              <i class="fa fa-edit"></i>
                                            </a>
                                            <a title="{{ "Supprimer"|trans }}" class="delete" data-confirm="{{ 'Voulez-vous vraiment supprimer cette observation?'|trans }}" href="{{ path('ornito_observation_delete', {'id' : watching.id } ) }}">
                                              <i class="fa fa-trash"></i>
                                            </a>
                                          {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          <div class="media">
                                            <a href="#" class="pull-left">
                                              <span class="profil-img">
                                                {% if user.avatar == null %}
                                                  <i class="fa fa-user fa-lg shadowed" aria-hidden="true"></i>
                                                {% else %}
                                                <a title="{{ "Voir le profil"|trans }}" href=""><img title="{{ user.username }}" class="profil-picture shadowed" src="{{ asset(user.avatar.webPath) }}" alt="{{ user.avatar.alt }}"></a>
                                                {% endif %}
                                              </span>
                                              <span class="margin-left-10  badge badge-success dropdown-name">{{ user.username }}</span>
                                            </a>
                                            <div class="media-body">
                                              <span class="media-meta pull-right">{{ watching.date|localizeddate('medium', 'short') }}</span>
                                              <h4 class="title">
                                                {% for specie in watching.species %}
                                                  {{ specie.scientificName }}
                                                {% endfor %}
                                                <span class="pull-right valid">({{ watching.validateStatus }})</span>
                                              </h4>
                                              <p class="summary">{{ watching.title }}</p>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    {% endif %}
                                  </tbody>
                                </table>
                              </div>
                              {% endif %}

                              {% if userRole == 'member' %}

                              {% if user.naturalistPromote == 'pending' and user.id == app.user.id %}
                                <div class="center alert alert-info">
                                  <span class="fa fa-certificate fa-3x marginAuto"></span>
                                  <h2 class="lead center">
                                    {{ "Votre demande est en cours de traitement"|trans }}
                                  </h2>
                                </div>
                              {% endif %}
                              {% if user.naturalistPromote == 'declined' and user.id == app.user.id %}
                                <div class="center alert alert-warning">
                                  <span class="fa fa-exclamation-triangle fa-3x marginAuto"></span>
                                  <h2 class="lead center">
                                    {{ "Votre demande à malheureusement été déclinée"|trans }}
                                  </h2>
                                </div>
                              {% endif %}
                              {% if user.id == app.user.id %}
                                <div class="center">
                                  <h2>
                                    {{ "Vous n'avez pas encore de Compte Naturaliste"|trans }} ?
                                  </h2>
                                  <h3>
                                    {{ "Faites votre demande dès maintenant"|trans }}.</h3>
                                  <hr/>
                                  <p class="font-size-14">
                                    {{ "Pour cela vous devez tout de même justifier une certaine expérience en matière d'observations et d'ornithologie"|trans }}.
                                  </p>
                                  <a href="{{ (path('ornito_user_naturalist_promote_request', { userId : user.id } )) }}">
                                    <button class="margin-left-10  btn-success btn">{{ "Certification Naturaliste"|trans }}</button>
                                  </a>
                                </div>
                              {% else %}
                              <div class="center">
                                <h2>
                                  {{ "Ce Compte n'est pas un compte Naturaliste"|trans }} !
                                </h2>
                              </div>
                          {% endif %}
                          {% endif %}
                            </div>
                          </div>
                        </div>
                        <hr/>
                        <div class="content-footer">
                          <p class="text-muted">
                            Obs' Certification Center
                          </p>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <!-- END BOX CONTAINER -->
              </div>
              <!-- END row -->
            </div>
            <!-- END CONTAINER -->
            <hr>
          </article>
        </div>
        <!-- END CONTENT -->
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
  <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}{{ parent() }}
<script src="{{ asset('assets/js/obsApi.js') }}"></script>
{% endblock %}
