<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="ornithoteque">
    <meta name="author" content="surikat-studio">
    <meta property="og:url"           content="https://www.ornithotheque.avrr.fr" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="ORNITHOTHEQUE" />
    <meta property="og:description"   content="L'ORNITHOTHEQUE, observez, découvrez, partagez..." />
    <meta property="og:image"         content="{{ asset('assets/img/logo/iconApp-XS-shadowed.png') }}" />
    <title>
      {% block title %}{{ 'L\'Ornithothèque'|trans }}!{% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>
    {% block body %}
      <!-- START NAV -->
      <nav class="navbar navbar-expand-md navbar-light bg-light rounded navbar-fixed-top">
        <!-- CONTAINER -->
        <div class="col-lg-12 inline-flex allScreen marginAuto container">
          <div class="app_logo">
            <a href="{{ path('ornito_main_homepage')}}"><img src="{{ asset('assets/img/logo/iconApp-XS-shadowed.png') }}"></a>
          </div>
          <!-- BUTTON MENU ACCES IN MOBILE MODE -->
          <button class="menuButton navbar-toggler center justify-content-center" type="button" data-toggle="collapse" data-target="#navbarprincipal" aria-controls="navbarprincipal" aria-expanded="false" aria-label="Toggle navigation">
            {{ 'MENU'|trans }}
          </button>
          <!-- MAIN MENU AREA -->
          <div class="collapse navbar-collapse center justify-content-center" id="navbarprincipal">
            <ul class="align-items-center navbar-nav">
              <li class="nav-item">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('ornito_observation_homepage')}}" class="nav-link fa fa-binoculars">
                  {{ 'OBS\''|trans }}
                </a>
                {% else %}
                <a class="nav-link" href="{{ path('ornito_main_homepage')}}">{{ 'FIL D\'ACTU'|trans }}</a>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('ornito_map_homepage')}}">{{ 'MAP'|trans }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('ornito_inventory_homepage')}}">{{ 'INVENTAIRE'|trans }}</a>
              </li>
              <li class="nav-item">
                {% if is_granted("ROLE_NATURALIST") %}
                <a title="{{ 'Observations à Validées'|trans }}" href="{{ path('ornito_observation_waiting') }}" class="nav-link fa fa-certificate">
                  {{ 'VALIDATION'|trans|upper }}
                </a>
                {% else %}
                <a class="nav-link" href="{{ path('ornito_main_join')}}">{{ 'PARTICIPER'|trans }}</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="profile_details float-left center">
            <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="profile_details_limit">
                  <li class="dropdown profile_details_drop">
                    <a class="profile_details" href="#" data-toggle="dropdown" aria-expanded="false">
                      <div class="userMenuItem">
                        <span class="dropdown-name">{{ app.user.username }}</span>
                        <span class="profil-img">
                          {% if app.user.avatar == null %}
                            <i class="fa fa-user shadowed" aria-hidden="true"></i>
                          {% else %}
                          <img title="{{ app.user.username }}" class="profil-picture shadowed" src="{{ asset(app.user.avatar.webPath) }}" alt="User Picture">
                          {% endif %}
                        </span>
                      </div>
                    </a>
                    <ul class="dropdown-menu">
                      <h6 class="dropdown-header">{{ 'Compte'|trans }} - {{ 'Membre'|trans }}</h6>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a href="{{ (path('fos_user_profile_show')) }}">
                          <i class="fa fa-user"></i>
                          {{ 'Mon Profil'|trans }}</a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a href="{{ (path('fos_user_profile_edit')) }}">
                          <i class="fa fa-cog"></i>
                          {{ 'Paramètres'|trans }}</a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                          <i class="fa fa-sign-out"></i>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
            {% else %}
                <a class="dropdown-name" href="{{ path('fos_user_security_login') }}">
                  <i class="fa fa-sign-in"></i>
                  {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
            </div>

          </div>
          <!-- LANGUAGE MENU BUTTON SELECT <span class="fa fa-question-circle fa-w-16 fa-2x"></span>-->
          <div class="nav_logos float-right ">
            <a href="" class="font-size-05em">
              <span><img class="langSelector" src="{{ asset('assets/img/logo/fr_flag.png') }}"></span></a>
            <hr>
            <a href="" class="font-size-05em">
              <span><img class="langSelector" src="{{ asset('assets/img/logo/uk_flag.png') }}"></span></a>
          </button>
        </div>
        <!-- USER MENU ACCESS AREA -->
      </div>
      <!-- END CONTAINER -->
    </nav>
    <!-- END NAV -->
    <!-- START WRAPPER FOR PAGE CONTENT MANAGEMENT ( WARNING : Sidebar Admin Menu have to be include in this wrapper to walk well/ Remove this comment during test reviews) -->
    <section id="wrapper" name="contentArea">
      <!-- DIV Overlay for overlay effect, handle by javascript -->
      <div class="overlay"></div>
      {% if is_granted("ROLE_SUPER_ADMIN") %}
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li class="sidebar-brand"><a href="#">ADMIN</a></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-divider"></li>
          <li><a href="{{ path('ornito_user_admin_list') }}">{{ "GESTION UTILISATEUR"|trans }}</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="{{ path('ornito_user_admin_certification_list') }}">{{ "CERTIFICATION NATURALISTE"|trans }}</a></li>
  		    <li><a href="#">{{ "CONFIGURATION"|trans }}</a></li>
        </ul>
      </nav>
      <!-- /#sidebar-wrapper -->
      {% endif %}
      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12&appId=2163755417186085&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        {% if is_granted("ROLE_SUPER_ADMIN") %}
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
        {% endif %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div id='alert_container' class="alert alert-{{ type }} alert-dismissable">
                  <a class="panel-close close" data-dismiss="alert">×</a>
                  <i class="fa fa-exclamation-triangle"></i>
                  <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block content %}
          <!-- HERE THE CONTENT-->
        {% endblock %}
      </div>
      <!-- /#page-content-wrapper -->
    </section>
    <!-- END BODY CONTENT SECTION -->
  {% endblock %}
  {% block footer %}
    <!-- SECTION CIRCULAR MENU -->
    <section id="circular_menu_plus">
      <div id='ss_menu'>
        <div>
          <a title="{{ 'Communauté Facebook'|trans }}" href="" class="fa fa-facebook-square"></a>
        </div>
        <div>
          {% if is_granted('ROLE_NATURALIST') %}
            <a title="{{ 'Observations à Valider'|trans }}" href="{{ path('ornito_observation_waiting') }}" class="fa fa-certificate"></a>
          {% else %}
            <a title="{{ 'Vous devez être naturaliste pour y accéder'|trans }}" href="{{ path('ornito_main_join')}}" class="fa fa-certificate"></a>
          {% endif %}
        </div>
        <div>
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a title="{{ 'Ajouter une Observation'|trans }}" href="{{ path('ornito_observation_add')}}" class="fa fa-binoculars"></a>
          {% else %}
            <a title="{{ 'Ajouter une Observation'|trans }}" href="{{ path('ornito_main_join')}}" class="fa fa-binoculars"></a>
          {% endif %}
        </div>
        <div>
          <a title="{{ 'Communauté Pinterest'|trans }}" href="" class="fa fa-pinterest-square"></a>
        </div>
        <div class='menu'>
          <div class='share' id='ss_toggle' data-rot='180'>
            <div class='circle'></div>
            <div class='bar'></div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION CIRCULAR MENU -->
    <!-- SECTION FOOTER -->
    <section id="section_footer">
      <footer>
        <div class="p-1 border border-success border-left-0 border-right-0 border-bottom-0 container"></div>
        <h4 class="center lead">{{ 'FOLLOW US'|trans }}</h4>
        <div class="text-center center-block">
          <hr/>
            {% if facebook is defined %}
              <a href="{{ facebook }}">
                <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
              </a>
            {% endif %}
            {% if twitter is defined %}
              <a href="{{ twitter }}">
                <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
              </a>
            {% endif %}
            {% if pinterest is defined %}
              <a href="{{ pinterest }}">
                <i id="social-gp" class="fa fa-pinterest-square fa-3x social"></i>
              </a>
            {% endif %}
            {% if contactMail is defined %}
              <a href="mailto:{{  contactMail }}">
                <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
              </a>
            {% endif %}
          <hr>
          <p class="text-muted font-weight-bold font-italic center">CopyRight
            <span class="badge badge-light">© 2018</span>
            ORNITHOTHEQUE Digital Apps
            <a href="{{ path('ornito_main_about')}}">{{ 'LA NAO'|trans }}</a>
            -
            <a href="{{ path('ornito_main_legal')}}">{{ 'Mentions Légales'|trans }}</a>
            -
            <a href="{{ path('ornito_main_cgu')}}">{{ 'CGU'|trans }}</a>
            -
            <a href="{{ path('ornito_main_join')}}">{{ 'Participer'|trans }}</a>
          </p>
        </div>
      </footer>
    </section>
    <!-- END SECTION FOOTER -->
  {% endblock %}
  {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.iife.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
  {% endblock %}
</body>
</html>
