{# src/Ornito/ObservationBundle/Ressource/views/Observation/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  - Obs - Index
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->
  <div id="mapPanelListArea" class="col-xs-10 offset-1">
    <div class="table-container">
      <table class="table table-filter">
        <tbody>
          <tr >
            <td>
              <a href="#" class="pull-left">
                <span class="profil-img">
                  <a title="Voir le profil" href=""><img title="John D." class="profil-picture shadowed" src="{{ asset('assets/uploads/users/userPic.jpg') }}" alt=""></a>
                  <!-- <i class="fa fa-user shadowed" aria-hidden="true"></i> -->
                </span>
                <span class="margin-left-10 font-size-10 badge badge-success ">John D.</span>
              </a>
              <hr>
              <a title="Voir l'Obs" href="{{ path('ornito_observation_view', {id : 2}) }}">
                <i class="fa fa-eye fa-lg"></i>
              </a>
              <a title="Voir sur la Map" href="{{ path('ornito_map_homepage') }}">
                <i class="fa fa-map fa-lg"></i>
              </a>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <span class="media-meta pull-right">13 Février 2018</span>
                  <a href="">
                    <h4 class="title">Héron Cendré<span class="pull-right">(.)</span></h4>
                  </a>
                  <p class="summary">Parc de la tête d'Or 69006 LYON</p>
                </div>
              </div>
            </td>
          </tr>
          <tr >
            <td>
              <a href="#" class="pull-left">
                <span class="profil-img">
                  <a title="Voir le profil" href=""><img title="John D." class="profil-picture shadowed" src="{{ asset('assets/uploads/users/userPic.jpg') }}" alt=""></a>
                  <!-- <i class="fa fa-user shadowed" aria-hidden="true"></i> -->
                </span>
                <span class="margin-left-10 font-size-10 badge badge-success ">John D.</span>
              </a>
              <hr>
              <a title="Voir l'Obs" href="{{ path('ornito_observation_view', {id : 2}) }}">
                <i class="fa fa-eye fa-lg"></i>
              </a>
              <a title="Voir sur la Map" href="{{ path('ornito_map_homepage') }}">
                <i class="fa fa-map fa-lg"></i>
              </a>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <span class="media-meta pull-right">17 Février 2018</span>
                  <a href="">
                    <h4 class="title">Aigle Royale<span class="pull-right">(Protégé)</span></h4>
                  </a>
                  <p class="summary">Route des SAPIN 69009 LYON.</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="pull-left">
                <span class="profil-img">
                  <a title="Voir le profil" href=""><img title="John D." class="profil-picture shadowed" src="{{ asset('assets/uploads/users/userPic.jpg') }}" alt=""></a>
                  <!-- <i class="fa fa-user shadowed" aria-hidden="true"></i> -->
                </span>
                <span class="margin-left-10 font-size-10 badge badge-success ">John D.</span>
              </a>
              <hr>
              <a title="Voir l'Obs" href="{{ path('ornito_observation_view', {id : 2}) }}">
                <i class="fa fa-eye fa-lg"></i>
              </a>
              <a title="Voir sur la Map" href="{{ path('ornito_map_homepage') }}">
                <i class="fa fa-map fa-lg"></i>
              </a>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <span class="media-meta pull-right">13 Février 2018</span>
                  <a href="">
                    <h4 class="title">Faucon Pelerin<span class="pull-right">(Protégé)</span></h4>
                  </a>
                  <p class="summary">La Part Dieu 69006 LYON</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END CONTENT -->
{% endblock %}
