{# src/Ornito/UserBundle/Ressource/views/Admin/certification_index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  - ADMIN MODE
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->

  <div role="tabpanel" class="tab-pane" id="adminProfilePanel">
    <section class="content">
      <h1 class="font-size-14 center">CENTRE DE CERTIFICATION DES COMPTES NATURALISTES</h1>
      <hr/>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="validate">Validé</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="pending">En Attente</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="declined">Décliné</button>
                <button type="button" class="btn btn-default btn-filter" data-target="all">UTILISATEURS</button>
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  {% for user in usersList %}
                    <tr data-status="{{ user.naturalistPromote }}">
                      <td>
                        <div class="ckbox">
                          {% if user.naturalistPromote == 'pending' %}
                            <a href="{{ path('ornito_user_naturalist_promote_validation', { 'userId': user.id} ) }}">
                              <button class="btn btn-success btn-sm">Certifier</button>
                            </a>
                            <hr/>
                            <a href="{{ path('ornito_user_naturalist_promote_declination', { 'userId': user.id} )}}">
                              <button class="btn btn-danger btn-sm">Décliner</button>
                            </a>
                          {% endif %}
                        </div>
                      </td>
                      <td>
                        <a title="Voir le profil" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a title="Modifier" href="">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a title="Supprimer" href="{{ (path('ornito_user_admin_delete', { userId : user.id })) }}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <div class="media-body">
                            <a href="#" class="pull-left">
                              <span class="profil-img">
                                <a title="Voir le profil" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}"><img title="John D." class="profil-picture shadowed" src="{{ asset('assets/uploads/users/userPic.jpg') }}" alt=""></a>
                                <!-- <i class="fa fa-user shadowed" aria-hidden="true"></i> -->
                              </span>
                            </a>
                            <span class="media-meta pull-right">Inscit le
                              {{ user.registerAt|date('d-m-Y') }}</span>
                            <h4 class="title">
                              <span class="margin-left-10  badge badge-success dropdown-name">{{ user.username|e }}</span>
                              <span class="pull-right valid">(
                                {% if user.naturalistPromote == null %}
                                  Aucune Demande
                                {% else %}
                                  {{ user.naturalistPromote }}
                                {% endif %}
                                )</span>
                            </h4>
                            <hr>
                            <p class="summary">102 Observations validés</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="content-footer">
          <p class="text-muted">
            Naturalist Certification Center
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- END Tab panes -->
<div id="myModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span></a>
        <h4 class="modal-title">Modal Heading</h4>
      </div>
      <div class="modal-body">
        <h4>Text in a modal</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-danger" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel</button>
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-check"></span>
            Save</button>
        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dalog -->
</div>
<!-- END CONTENT -->
{% endblock %}
{% block javascripts %}{{ parent() }}
<script type="text/javascript">
  /* FOOTER HIDDEN */
  $('#section_footer').hide();
</script>
{% endblock %}
