{# src/Ornito/UserBundle/Ressource/views/Admin/certification_index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  - ADMIN MODE
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->

  <div role="tabpanel" class="tab-pane" id="adminProfilePanel">
    <section class="content">
      <h1 class="font-size-14 center">{{ "CENTRE DE CERTIFICATION DES COMPTES NATURALISTES"|trans }}</h1>
      <hr/>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="validate">{{ "Validé" |trans }}</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="pending">{{ "En Attente"|trans }}</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="declined">{{ "Décliné"|trans }}</button>
                <button type="button" class="btn btn-default btn-filter" data-target="all">{{ "UTILISATEURS"|trans }}</button>
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  {% for user in usersList %}
                    <tr data-status="{{ user.naturalistPromote }}">
                      <td>
                        <div class="ckbox">
                          {% if user.naturalistPromote == 'pending' %}
                            <a href="{{ path('ornito_user_naturalist_promote_validation', { 'userId': user.id} ) }}">
                              <button class="btn btn-success btn-sm">{{ "Certifier"|trans }}</button>
                            </a>
                            <hr/>
                            <a href="{{ path('ornito_user_naturalist_promote_declination', { 'userId': user.id} )}}">
                              <button class="btn btn-danger btn-sm">{{ "Décliner"|trans }}</button>
                            </a>
                          {% endif %}
                        </div>
                      </td>
                      <td>
                        <a title="{{ "Voir le profil"|trans }}" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a title="{{"Modifier"|trans }}" href="">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a title="{{ "Supprimer"|trans }}" href="{{ (path('ornito_user_admin_delete', { userId : user.id })) }}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <div class="media-body">
                            <a href="#" class="pull-left">
                              <span class="profil-img">
                                {% if user.avatar == null %}
                                  <a href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}"><i class="fa fa-user fa-2x shadowed" aria-hidden="true"></i></a>
                                {% else %}
                                <a title="{{ "Voir le profil"|trans }}" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}"><img title="{{ user.username }}" class="profil-picture shadowed" src="{{ asset(user.avatar.webPath) }}" alt="User Picture"></a>
                                {% endif %}
                              </span>
                            </a>
                            <span class="media-meta pull-right">Inscit le
                              {{ user.registerAt|localizeddate('full', 'short') }}</span>
                            <h4 class="title">
                              <span class="margin-left-10  badge badge-success dropdown-name">{{ user.username|e }}</span>
                              <span class="pull-right valid">(
                                {% if user.naturalistPromote == null %}
                                  {{ "Aucune Demande"|trans }}
                                {% else %}
                                  {{ user.naturalistPromote }}
                                {% endif %}
                                )</span>
                            </h4>
                            <hr>
                            <p class="summary">{{ user.watchings|length }} {{ "Observation"|trans }}{% if user.watchings|length > 1 %}s{% endif %}</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="content-footer">
          <p class="text-muted">
            Naturalist Certification Center
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- END Tab panes -->
<!-- END CONTENT -->
{% endblock %}
{% block javascripts %}{{ parent() }}
<script type="text/javascript">
  /* FOOTER HIDDEN */
  $('#section_footer').hide();
</script>
{% endblock %}
