{# src/Ornito/UserBundle/Ressource/views/Admin/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  - ADMIN MODE
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->

  <div role="tabpanel" class="tab-pane" id="adminProfilePanel">
    <section class="content">
      <h1 class="font-size-14 center">CENTRE DE GESTION DES COMPTES UTILISATEURS</h1>
      <hr />
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="Membre">Membre</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="MembreNaturaliste">Naturaliste</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="MembreAdmin">Admin</button>
                <button type="button" class="btn btn-default btn-filter" data-target="all">Tous</button>
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  {% for user in usersList %}
                    <tr data-status="{% for role in user.roles %}{% if role == "ROLE_MEMBER" %}{{ 'Membre'|trans }}{% endif %}{% if role == "ROLE_NATURALIST" %}{{ 'Naturaliste'|trans }}{% endif %}{% if role == "ROLE_SUPER_ADMIN" %}{{ 'Admin'|trans }}{% endif %}{% endfor %}">
                      <td>
                        <div class="ckbox">
                        </div>
                      </td>
                      <td>
                        <a title="Voir le profil" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a title="Modifier" href="">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a title="Supprimer" class="delete" data-confirm="Voulez vous vraiment supprimer cette utilisateur?" href="{{ (path('ornito_user_admin_delete', { userId : user.id })) }}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <div class="media-body">
                            <a href="#" class="pull-left">
                              <span class="profil-img">
                                {% if user.avatar == null %}
                                  <a href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}"><i class="fa fa-user fa-2x shadowed" aria-hidden="true"></i></a>
                                {% else %}
                                <a title="Voir le profil" href="{{ (path('ornito_user_profile_show', { username : user.username ,  userId : user.id })) }}"><img title="{{ user.username }}" class="profil-picture shadowed" src="/{{ user.avatar.webPath }}" alt="User Picture"></a>
                                {% endif %}
                              </span>
                            </a>
                            <span class="media-meta pull-right">Inscit le {{ user.registerAt|date('d-m-Y') }}</span>
                            <h4 class="title">
                              <span class="margin-left-10  badge badge-success dropdown-name">{{ user.username|e }}</span>
                              <span class="pull-right valid">(
                              {% for role in user.roles %}
                                {% if role == "ROLE_MEMBER" %}
                                  {{ 'Membre'|trans }}
                                {% endif %}
                                {% if role == "ROLE_NATURALIST" %}
                                  {{ 'Naturaliste'|trans }}
                                {% endif %}
                                {% if role == "ROLE_SUPER_ADMIN" %}
                                  {{ 'Admin'|trans }}
                                {% endif %}
                              {% endfor %}
                              )</span>
                            </h4>
                            <hr>
                            <p class="summary">102 Observations validés</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="content-footer">
          <p class="text-muted">
            User Admin Center
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- END Tab panes -->
<!-- END CONTENT -->
{% endblock %}
{% block javascripts %}{{ parent() }}
<script type="text/javascript">
/* FOOTER HIDDEN */
$('#section_footer').hide();
</script>
{% endblock %}
