{# src/Ornito/TaxrefBundle/Ressource/views/Main/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}
  -
  {{ "Inventaire"|trans }}
{% endblock %}

{% block content %}{{ parent() }}
  <!-- CONTENT HERE -->
  <!-- PAGE TITLE -->
  <h1 class="band_title deepshd">{{ "INVENTAIRE"|trans }}</h1>
  <!-- PAGE OPTION MENU -->
  <div id="option-menu" class="d-flex justify-content-center row">
    <!-- END PAGINATION OPTION FORM -->
    <!-- BIRD SEARCH FORM -->
    <div id="birdCardSearh" class=" card col-md-11 ">
      <form id="birdCardSearhForm" name="birdCardSearhForm" class="form-inline" method="post" action="{{ url('ornito_inventory_homepage') }}">
        <div class="marginAuto form-group col-md-3">
          <label for="ref-ordre" class="input-group-addon">{{ "Ordre"|trans }}</label>
          <select id="ref-ordre" class="custom-select" name="ordre" required="required">
            <option disabled="disabled" selected="selected" value="emptyOrdre"></option>
            {% for item in ordreList %}
              <option value="{{ item.ordre }}">{{ item.ordre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="marginAuto form-group col-md-3">
          <label for="ref-family" class="input-group-addon">{{ "Famille"|trans }}</label>
          <select id="ref-family" class="custom-select" name="family">
            <option disabled="disabled" selected="selected" value="emptyFamily"></option>
            {% for item in familyList %}
              <option value="{{ item.family }}">{{ item.family }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="marginAuto form-group col-md-3">
          <label for="ref-nomScientifique" class="input-group-addon">{{ "Nom Scientifique"|trans }}</label>
          <select id="ref-nomScientifique" class="custom-select" name="scientificName">
            <option disabled="disabled" selected="selected" value="emptyScientific"></option>
            {% for item in scientificList %}
              <option value="{{ item.scientificName }}">{{ item.scientificName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="marginAuto form-group col-md-3">
          <label for="ref-nomVernaculaire" class="input-group-addon">{{ "Nom Vernaculaire"|trans }}</label>
          <select id="ref-nomVernaculaire" class="custom-select" name="vernFr">
            <option disabled="disabled" selected="selected" value="emptyVern"></option>
            {% for item in vernList %}
              <option value="{{ item.vernFr }}">{{ item.vernFr }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="center marginAuto form-group col-md-6">
          <hr/>
          <input id="resetButton" value="{{ "reset"|trans }}" type="button" class="btn btn-lg btn-warning"/>
        </div>
        <div class="center marginAuto form-group col-md-6">
          <hr/>
          <input id="birdCardSearchFormSubmit" value="{{ " rechercher"|trans }}" type="submit" name="birdCardSearchFormSubmit" class="btn btn-lg btn-success"/>
        </div>
        <a hidden="hidden" id="path" href="{{ url('ornito_inventory_search') }}"></a>
      </form>
    </div>
    <!-- BIRD SEARCH FORM -->
  </div>
  <!-- END PAGE OPTION MENU -->
  <!-- CONTENT CONTAINER -->
  <hr>
  <div class="col-xs-11 col-md-9 col-lg-8 container">
    <div class="row">
      <div class="col-md-12 ">
        <!-- CONTENT -->
        <div class="container">
          <div class="">
            <h1 class="center text-uppercase page-title">{{ "Résultat de la recherche"|trans }}</h1>
          </div>
          <ul class="timeline">
            <!-- TIMELINE ARTICLE -->
            {% if birds %}
              {% for bird in birds %}
                <article class="timeline">
                  <aside class="timeline-badge float-left">
                    {% if bird.vernFr == true %}
                      <span class="float-left badge badge-info dropdown-name">
                        {% if bird.vernFr|length > 30 %}
                        {{ bird.vernFr|striptags|slice(0,30) }}...
                        {% else %}
                        {{ bird.vernFr }}
                        {% endif %}
                        </span>
                    {% endif %}
                  </aside>
                  <li class="timeline-inverted">
                    <aside class="timeline-badge">
                      <span class="letter-badge-container">
                        <i class="letter-badge fa fa-b fa-2x shadowed" aria-hidden="true">{{ bird.scientificName|first|upper }}</i>
                      </span>
                      <i class="fa fa-book"></i>
                    </aside>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <div class="margin-top-0  float-right  btn-group">
                          <!--START Option panel Menu -->
                          <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a class="nav-link" target="_blank" href="{{ bird.url }}">{{ 'Fiche  Site INPN'|trans }}</a>
                            </li>
                            <li>
                              <a name="fb_share" type="icon_link" share_url="{{ path('ornito_inventory_find', {id : bird.id} ) }}">Share</a>
                            </li>
                          </ul>
                        </div>
                        <!--END Option panel Menu -->
                        <h4 class="text-uppercase font-size-16 card-title">{{ bird.scientificName }}</h4>
                      </div>
                      <div class="timeline-body">
                        <!-- Result PANEL -->
                        <div class="container">
                          <span class="margin-bottom-5 font-size-14 italic badge badge-pill badge-success">
                            {{ "Nom Scientifique"|trans }}
                          </span>
                          <span class="font-size-16 toBbold italic">
                            {{ bird.scientificName }}
                          </span>
                          <span class="margin-bottom-5 font-size-12 badge badge-pill badge-dark">
                            {{ "DESCRIPTEUR"|trans }}
                          </span>
                          <span class="font-size-14 toBold">
                            {{ bird.author }}
                          </span>
                          <span class="margin-bottom-5 font-size-12 badge badge-pill badge-warning">
                            {{ "Nom Vernaculaire"|trans }}
                          </span>
                          {% if bird.vernFr == true %}
                            <span class="font-size-14 toBold">
                              {{ bird.vernFr }}
                            </span>
                          {% else %}
                            <span class="font-size-14 toBold">
                              {{ "Non défini"|trans }}
                            </span>
                          {% endif %}
                          <span class="margin-bottom-5 font-size-12 badge badge-pill badge-warning">
                            {{ "Nom Vernaculaire Anglais"|trans }}
                          </span>
                          {% if bird.vernEn == true %}
                            <span class="font-size-14 toBold">
                              {{ bird.vernEn }}
                            </span>
                          {% else %}
                            <span class="font-size-14 toBold">
                              {{ "Non défini"|trans }}
                            </span>
                          {% endif %}
                          <a title="{{ "Voir la Fiche"|trans }}" href="{{ path('ornito_inventory_find', {id : bird.id} ) }}">
                            <button type="button" class="btn btn-primary btn-lg btn-block">
                              {{ "FICHE"|trans }}
                              <i class="fa fa-info-circle"></i>
                            </button>
                          </a>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </li>
                </article>
              {% endfor %}
            {% endif %}
            <!-- END ARTICLE TIMELINE -->
          </ul>
        </div>
        <!-- END CONTENT -->
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
  <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}{{ parent() }}
  <script src="{{ asset('assets/js/select_form.js') }}"></script>
{% endblock %}
